mirp-radiomics-extraction/*.csv
mirp-radiomics-extraction/test_notebook.ipynb
data
augmented_data
images-generation/models
images-generation/results
images-generation/training_results
mirp-radiomics-extraction/cleaning_generated_dataset.ipynb
models-development/saved-models
artifacts
*/__pycache__
mlruns
mlflow.db
.vscode
.idea/
.env
wandb
models-development/test.ipynb
models-development/architectures/__pycache__/resnet18.cpython-311.pyc
